{% set title = lang["home"] %} {% extends "master.html" %} {% block body %}
<div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col" , style="width:100%">
    <h3>{{lang["my-orders"]}}</h3>
    <p>
    </p>
    {% if orders|length == 0 %}
    <p>{{lang["no-orders"]}}</p>
    {% else %}
    <ul class="demo-list-three mdl-list">
        {% for order in orders %}
        {% if not order.hidden %}
        <li class="mdl-list__item mdl-list__item--three-line" onclick="window.location='view-order/{{order.id}}'" style="background-color: transparent; transition-property: background-color; transition-duration: 0.3s; border-radius: 0.5em;" onmouseover="this.style.backgroundColor='#cccccc';" onmouseout="this.style.backgroundColor='transparent';">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon" tyle="border-radius: 10% ;">{{ 'error_outline' if order.is_open and not
                    hasValidReply(order.id) else 'pending' if order.is_open and hasValidReply(order.id) else
                    'check_circle'}}</i>
                <span>
                    Order #{{order.id}}
                </span>
                <span class="mdl-list__item-text-body">
                    {{order.time}}
                </span>
            </span>
            <span class="mdl-list__item-secondary-content">
                <p>{{ "{:,.2f}".format(order.price)}}€</p>
            </span>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    {% endif %}

    <h3>{{lang["restaurant-list-title"]}}</h3>
</div>
{% for restaurant in m.Restaurant.query.all() %}
{% include 'restaurant-card.html' %}
{% endfor %}
{% endblock %}
